
*{
    font-family:monospace;
    font-size: 16px;
    padding: 0 ;
    margin: 0
}
*::selection {
    background-color: blue;
    color: white;
}
*{
    --red: red;
    --blue: blue ;
    --red-text: #EC0131;
    --pink-background: #FFFAFB;
    --shadow-gray: #E6E6E6;
    --light-pink: #f8eff1;
    --dark-screen: #0A0103;
    --social-media-icon: #B6B3B3;
    --white: #FFFFFF;
    --background-gray: #F7F7F7;
    --green: green ;
    --badge-bgcolor-blue: #F7F7FF;
    --badge-bgcolor-red: #F5ECE7;
    --badge-bgcolor-aqua: #F2FDFF;
    --badge-color-blue: #6E71CC;
    --badge-color-red:#D4A387;
    --badge-color-aqua: #01c4f9 ;
    --background-light-blue: rgb(218, 218, 240);
}
.current-link{
    background-color: var(--shadow-gray);
    color: var(--green)
}