@import url("../../../common/colors-css.css");

.home-companies-list-root-container{
    background-color: var(--pink-background) ;
    padding: 20px 0px;
    .title {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .title > * {
        margin: 10px 0px
    }

    .companies-image:hover{ 
        animation: none ;
    }
    img {
        width: 100%;
    }
}
 
