.problem-root-container{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    height: 80vh;
    .problem-statement {
        overflow-y: scroll;
        height: 100%;
    }
    .editor{
        align-self: stretch;
        height: 100%;
        flex-grow: 2;
    }
}