
.problem-root-container {
  .problem-container {
    .root-toptabs {
      display: flex;
      flex-flow: row wrap;
      margin: 20px;
    }
    .children-component-container {
      height: 100%;
      .editor-included {
        display: flex;
        flex-flow: row;
        .description {
            width: 50%;
            height: 68vh;
            overflow-y: scroll;
        }   
        .editor {
            width: 50% ;
            height: 68vh;
        }
      }
    }
  }
}
