.problem-root-container{
    background-color: #191919;
    font-size: 10px;
    display: flex;
    .problem-statement {
        color:white;
        flex-grow: 0.1;
        width: 40%;
        height: 75vh;
        overflow-y: scroll;
    }
    .editor {
        width: 60%;
        flex-grow: 1;
    }
}
