.outut-section-root-container{
    .bottom-drawer{
        width: 60%;
        float:right;
        margin-right:20px;
        background-color: blue !important;
    }
    .close-drawer-icon{ 
            cursor: pointer;
    }
}