.code-editor-container {
    color: red;
  .bottom-container {
    padding-bottom: 20px;
    background-color: rgb(247,249,250);
    .btn-group {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      .btn {
        margin-right: 20px;
        margin-top: 10px;
        border: none;
        padding: 5px;
        background-color: black;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: 1s;
      }
      .btn:hover{
        outline: 2px solid tomato;
      } 
      .outlined-btn {
        border: 1px solid blue;
        background-color: white;
        font-weight: 600;
        color: blue;
      }
      .solid-btn {
        background-color: blue;
        color: white;
      }
    }
  }
}
